<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   WeekendWarrior

   Created by Wyatt Kim on 4/2/18.
   Copyright (c) 2018 Wyatt Kim. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>bEa654iwonpCjxxlUXybqv86kx5Bo3Qr</string>
        <key>Domain</key>
        <string>weekendwarrior.auth0.com</string>
    </dict>
</plist>
